*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(52, 125, 235);
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    background: rgb(0, 37, 94);
    width: 352px;
    height: 575px;
}

.display{
    margin: auto auto auto 0;
    margin-top: 0px;
    background: rgb(255, 255, 255);
    width: 277px;
    height: 75px;
}

.up{
    
    width: 277px;
    height: 30px;
    color:rgb(116, 116, 116);
    font-size: 25px;
    text-align: right;
}
.down{
    
    width: 277px;
    height: 45px;
    color:  rgb(0, 37, 94);
    font-size: 40px;
    text-align: right;
}

/* .delete{
    
} */

.delete_btn{
    background: rgb(66, 245, 230);
    width: 75px;
    height: 75px;
    list-style: none;
    border: none;
    
}
img{
    padding: 7%;
    transition: .05s ease;
}
img:active{
    transform: scale(1.2);
}

.btn_grid{
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin: auto;
width: 500px;
}

.btn{
    background: rgb(66, 245, 230);
    width: 88px;
    height: 100px;
    list-style: none;
    border: none;
    margin-top: 0;
    font-size: 30px;
    color:rgb(116, 116, 116);
    transition: .05s ease;
}

.btn>img{
    width: 80px;
    height: 80px;
}

p:active{
    transform: scale(1.2);
} 

.fix{
    display: flex;
    flex-direction: row;
}